<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites><!-- テスト全体 -->
        <testsuite name="Unit"> <!-- Unitテスト -->
            <directory>tests/Unit</directory> <!-- ディレクトリの指定 -->
        </testsuite>
        <testsuite name="Feature"> <!-- Featureテスト -->
            <directory>tests/Feature</directory> <!-- ディレクトリの指定 -->
            <!-- <exclude>ここに除外するファイルパスを記述</exclude> -->
        </testsuite>
    </testsuites>
    <source> <!-- テストの対象を指定 -->
        <include>
            <directory>app</directory> <!-- app/以下が対象 -->
        </include>
    </source>
    <php>
        <!-- 環境設定ファイルを指定。下記なら.env.testingとなる -->
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
